body{background-color: yellow;
  font-family: helvetica, arial, sans-serif;
  color:navy;
}
a{
  color:DarkSlateGray;
  text-decoration: none;
}
img{
width: 100%
}
h1{
 text-align: center;
 margin:2%
}
h2{color:orange;
}
}
.center{
/* width:100%;
margin: auto;
display: block; */
}
ol{
border: white 2px solid;
padding: 1%;
margin: 1%:
}
body{ border: green 4px solid;
margin:0;
}
h1{ border: purple 3px solid;
}
h2{ border: purple 3px solid;
}
a{border: red 2px solid;
}
li{border-bottom: white 2px solid;
padding: 5px;
width: 90%;
margin: auto;
}
img{
border: lightpink 2px solid;
background: white;
margin: 1%;
padding: 2%;
}

.cover{
backgroud: url("good-vibes.jpg");
height: 400px;
background-position: center;
border-color: teal;
background-repeat:repeat;
background-size: contain;
}
/* https://www.bing.com/images/search?view=detailV2&ccid=VFeBpleZ&id=1DBB3A6BBC07C97433BBE358769C641C21041271&thid=OIP.VFeBpleZz9RU4in885tLOQHaHa&mediaurl=https%3A%2F%2Fih0.redbubble.net%2Fimage.388916910.6650%2Fflat%2C550x550%2C075%2Cf.u2.jpg&exph=550&expw=549&q=sunny+vibes&simid=608039465775533138&ck=C20AFFA3FAC449E0234B4FE1F1B2EB56&selectedindex=0&form=IRPRST&ajaxhist=0&vt=0&sim=11 .jpg */
